{% extends "AppFutbol/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<div align="center">
    <h1> Felipe Gesualdo</h1>
    <h6>Creador de 'BuscandoFutbol'</h6>
    <p>Mi nombre es Felipe Gesualdo, tengo 19 años y actualmente estoy desarrollandome en mi carrera como jugador de futbol en el Club Atletico Almagro. </p>
    <p>Entreno todos los dias de la semana y durante las tardes me ocupo de mis cursos de programacion, ademas de entrenar horas extra.</p>
    <p>Esta pagina es mi entrega final de mi curso de python, en la que pude combinar el futbol y la programacion. A lo largo de este</p>
    <p>proyecto pude desarrollar la idea de crear un lugar donde encontrar jugadores, equipos y directores tecnicos, sea mucho mas facil</p>
    <p>y desde un lugar remoto. Ademas existe la posibilidad de que cada usuario de este sitio pueda crear su blog. En ese mismo pueden </p>
    <p>contar experiencias, hablar de cada uno, compartir ideas o ambiciones, subir fotos y etc.</p>
    <p>Si quieren conocer un poco mas sobre mi aca abajo les dejo mis redes por si las quieren visitar</p>
    <p></p>
    <p></p>
    <p></p>
    <p>Visita mi perfil de Instagram en: <a href="https://instagram.com/gesualdofelipe?igshid=YmMyMTA2M2Y=" target="_blank">@gesualdofelipe</a></p>
    <p>Visita mi perfil de Git Hub en: <a href="https://github.com/FelipeGesualdo" target="_blank">Felipe Gesualdo</a></p>
</div>


{% endblock %}


{% block titulo %}

    <h1>Acerca de mi</h1>

{% endblock %}
</html>