{% extends "AppFutbol/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<div align="center">
    <h6>Creado por:{{blog.user}}</h6>
    <img src="{{blog.imagen.url}}" style="max-width: 30rem; max-height: 30rem;" class="card-img-top">
    
    
    <p>{{blog.cuerpo}}</p>
    <p>Fecha:{{blog.fecha}}</p>

    <button>
        <a href="{% url 'blog_confirm_delete' blog.id %}">BORRAR</a>
    </button>
    <button>
        <a href="{% url 'blog_edit' blog.id %}">Editar</a>
    </button>
    <button>
        <a href="{% url 'blog_list' %}">Regresar</a>
    </button>
</div>




{% endblock %}

{% block titulo %}   
<h1>{{blog.titulo}}</h1>
<h4>{{blog.subtitulo}}</h4>
{% endblock %}
</html>