{% extends "AppFutbol/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<h1>FORMULARIO DE EQUIPO:</h1>

    <form action="{% url 'equipo' %}" method="POST">{% csrf_token %}
        <table>
            {{formulario.as_table}}
        </table>
        <input type="submit" value="ENVIAR">
    </form>

<h1>BUSCAR EQUIPO:</h1>
<h6>Atencion: Para inspeccionar equipos necesitas estar logueado</h6>
<form action="{% url 'buscarEquipo' %}" method="get">
    <p>Busca a un equipo segun sus dias de partido:</p>
    <p><input type="text" name="dias_de_partido" placeholder="Buscar..."></p>
    <p></p><input type="submit" value="Buscar"></p>
</form>

<h1>INSPECCIONAR EQUIPOS:</h1>
<h6>Atencion: Para inspeccionar los equipos necesitas estar logueado</h6>
<form action="{% url 'leerEquipos' %}" method="get">
    <p></p><input type="submit" value="INSPECCIONAR"></p>
</form>
{% endblock %}

{% block titulo %}

    <h1>EQUIPO</h1>

{% endblock %}
</html>