{% extends "AppFutbol/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}




<h1>FORMULARIO DE JUGADOR</h1>
    <form action="{% url 'jugador' %}" method="POST">{% csrf_token %}
        <table>
                {{formulario.as_table}}
        </table>
        <input type="submit" value="ENVIAR">
    </form>


    <h1>BUSCAR JUGADOR</h1>

<form action="{% url 'buscarJugador' %}" method="get">
    <p>Busca a un jugador segun su posicion:</p>
    <p><input type="text" name="posicion" placeholder="Buscar..."></p>
    <p></p><input type="submit" value="Buscar"></p>
</form>

<h1>LEER JUGADORES</h1>
<h6>Atencion: Para leer los jugadores necesitas estar logueado</h6>
<form action="{% url 'leerJugadores' %}" method="get">
    <p></p><input type="submit" value="LEER"></p>
</form>

{% endblock %}


{% block titulo %}

    <h1>JUGADOR</h1>
    

{% endblock %}
</html>