{% extends "AppFutbol/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<h1 align="center">Logueate</h1>


<h3>{{mensaje}}</h3>
<div align="center">
    <form action="{% url 'login' %}" method="POST">{% csrf_token %}
        {{formulario.as_p}}
        <input type="submit" value="INICIAR SESION">
    </form>
</div>

<p><h3 align="center">No te has registrado aun?</h3></p>
<p align="center"><a class="btn btn-primary" href="{% url 'register' %}">Register</a></p>
{% endblock %}


{% block titulo %}

    <h1>LOGIN</h1>

{% endblock %}
</html>